footer{
  background-color: rgba(250, 245, 237, 0.3);
  backdrop-filter: blur(6px);
  padding: 10px;
  position: sticky;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  z-index: 1;
}

.footer-ul{
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.footer-li{
  margin: 0 10px;

}
.footer-link{
  text-decoration: none;
  color: #73472e;
  font-size: 20px;
}

.footer-link:hover{
  color: #a0522d;
}

.footer-icon{
  font-size: 24px;
  color: #73472e;
}

.footer-text{
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}