@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

.navbar {
    font-size: 20px;
    font-weight: bold;
    background-color: #FAF5ED;
    color: rgb(199, 126, 58);
    padding: 20px;
    text-align: center;
    font-family: 'Delius Swash Caps', cursive;
    position: sticky;
    top: 0;
    transition: background-color 0.3s ease;
}

.navbar.transparent {
    background-color: rgba(250, 245, 237, 0.3); /* Transparan arka plan */
    backdrop-filter: blur(6px); /* Hafif bulanıklık efekti (isteğe bağlı) */
}
